body{
  text-decoration-color: #fff;
  color: rgba(255, 255, 255, 0.774)
  
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.post{
  text-align: center
}

.vote {
  align-content: center;
  border-radius: 200px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 5px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.vote{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.vote:after {
  content: '»';
  position: absolute;
  
  top: 14px;

  transition: 0.5s;
}

.vote:hover{
  padding: 10px;
 
}

.vote  {
  opacity: 1;

}

#Footer {
  　height: 100px;
  　position: relative;
  　margin-top: -100px;
  }